*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    

body{
    height: 100vh;
    background-color: #0d0d0e;
    text-align: center;
    justify-content: center;
    gap: 1px;
}


header{
    display: flex;
    justify-content: center;
}

p{
    font-size: 24px;
}


nav.menu-lateral{
    width: 30px;
    height: 100%;
    background-color:#0f0f0f;
    padding: 45px 35px 0px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    z-index: 1000;
}




.bnt-expandir{
   width: 100%;
   padding-left: 0px; 
}

.bnt-expandir > i{
    color:#f1f3f3;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: 1s;
    border-radius: 13px;
    border: 100px;
}

ul li.ativo{
    background-color: #f9fafa;

}

ul li.item-menu:hover{
    background-color: rgb(107, 110, 110);
    border-radius: 20px;
}


ul li.item-menu a{
    color: #f7fafa;
    text-decoration:none;
    font-size: 20px;
    padding: 40px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 30px;
}

ul li.item-menu a .txt-link{
    margin-left: 17px;
}

ul li.item-menu a .Icon > i{
    font-size: 25px;
}




.genero{
    display: inline;
    justify-content: center;
}
.genero button {
    margin: 5px 10PX;
    padding: 8px 6px;
    border: none;
    border-radius: 15px;
    background-color: #89068d;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.genero button:hover {
    background-color: #5917a4;
}

  


.swiffy-slider{
    padding: 0%;
    margin-top: 1%;
    margin: 5%;

    --swiffy-slider-item-count: 3;
    --swiffy-slider-item-gap: 1rem;
    --swiffy-slider-animation-duration: 0.5s;
    --swiffy-slider-nav-zoom: 10.2;
}

.img-slider{
    display: inline-flex;
    max-width: 30%;
    max-height: 20%;
    border-radius: 10px;

}

.caption{
    align-items: center;
    color: #f7fafa;
    background-color: #4b4949bd;
    border-radius: 10PX;
    max-width: 5%;
    margin-left: 47%;
}


.slider-nav{
    color: #5917a4;

}


.slider-nav-next{
color: #89068d;
}


